:root {
  color-scheme: light dark;
  --body-light: rgb(253, 253, 253);
  --body-dark: rgb(28, 25, 31);
  --header-light: rgb(246, 246, 246);
  --header-dark: rgb(37, 35, 41);
  --text-dark: rgb(233, 233, 233);
}

body {
  margin: 0px;
  padding: 0px;
  background-color: light-dark(var(--body-light), var(--body-dark));
  box-sizing: border-box;
}

p {
  color: light-dark(black, var(--text-dark));
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a {
  padding: 5px;
  color: light-dark(rgb(33, 66, 255), rgb(122, 142, 255));
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.5s cubic-bezier(0,.9,.03,.42);;
}

header {
  z-index: 10;
  height: 35px;
  padding: 20px;
  background-color: light-dark(var(--header-light), var(--header-dark));
  border-bottom: 1px solid black;
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
}

header a {
  color: light-dark(black, var(--text-dark));
  font-family: Inter, "IBM Plex Serif", serif;
}

a:hover {
  background-color: light-dark(rgba(233, 233, 233, 0.75), rgba(21, 21, 21, 0.75));
}

#light-dark {
  width: 35px;
  height: 35px;
  float: right;
  border: 0px;
  cursor: pointer;
}