body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(231, 231, 231);
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  color: rgb(33, 66, 255);
  text-decoration: none;
  transition: background-color 0.5s cubic-bezier(0,.9,.03,.42);;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  padding: 5px;
}

a:hover {
  background-color: rgba(233, 233, 233, 0.25);
}

#top_level_seperator {
  width: 100vw;
  display: grid;
  grid-template-columns: 15% 70% 15%;
}

#sidePanel{
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: rgb(255, 186, 121);
}

#sidePanel ul {
  text-decoration: none;
  position: fixed;
  list-style-type: none;
  list-style-position: inside;
  padding-inline-start: 15px;
  font-family: "Poppins", sans-serif;
  line-height: 25px;
}

#sidePanel p {
  position: fixed;
}

article {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: antiquewhite;
  padding: 20px;
}

p {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

article h1 {
  margin-left: 20px;
  text-align: left;
  font-size: 4em;
  font-family: "Poppins", sans-serif;
}

article h2 {
  font-family: "Lato", sans-serif;
}

article div {
  width: 100%;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 45% 65%;
}

article div p {
  text-align: center;
}

article ol ol {
  padding-inline-start: 25px;
}

.contentImage {
  width: 300px;
  height: 250px;
  border: 1px solid black;
  object-fit:cover;
}

@media screen and (max-width: 900px) {
  article {
    padding: 20px 100px;
  }

  #top_level_seperator {
    grid-template-columns: 0px 100% 0px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1400px){
  #sidePanel {
    padding: 20px;
    padding-top: 0px;
  }

  #sidePanel ul{
    margin-top: 40px;
    width: calc(calc(100vw - 700px) / 2);
  }

  #top_level_seperator {
    grid-template-columns: calc(calc(100vw - 700px) / 2) 700px calc(calc(100vw - 700px) / 2);
  }
}