* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(232, 232, 232);
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
}

p {
  margin: 0px 15px 15px 15px;
  font-size: x-large;
}

a {
  color: black;
  margin-left: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  text-decoration-line: none;
}

#container {
  width: 80%;
  margin-top: 5%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.article {
  width: 80%;
  height: max-content;
  margin-top: 50px;
  border: 5px solid black;
  background-color: white;
}

.article img {
  width: 100%;
}

header {
  width: 100%;
  height: 60px;
  border-bottom: black 5px solid;
  background-color: rgb(186, 186, 186);
}