* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(253, 253, 253);
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
}

header a {
  font-family: Inter, "IBM Plex Serif", serif;
}

p {
  margin: 0px 15px 15px 15px;
  font-size: 15px;
}

a {
  color: black;
  margin-left: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  text-decoration-line: none;
}

.imageAnchor {
  margin: 0px;
}

#container {
  width: 80%;
  margin-top: 5%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.article {
  width: 80%;
  height: max-content;
  margin-top: 50px;
  border: 2px solid black;
  background-color: white;
}

.article img {
  width: 100%;
  border-bottom: 2px black solid;
}

header {
  width: 100%;
  height: 60px;
  border-bottom: black 1px solid;
  background-color: rgb(246, 246, 246);
}